{% extends 'ext_samples.html' %}

{% block content %}
                <div class="container-fluid border-dark" style="overflow: auto;">
                    <div class="card border-secondary shadow">
                        <div class="card-header text-bg-dark border-primary py-3" data-bs-theme="dark" style="padding-right: 0px;position: static;min-width: 0px;width: auto; height: 65px;">
                            <div class="dropdown d-table" style="width: 100%;min-width: 0px;overflow: auto;position: absolute;"><button class="btn btn-secondary dropdown-toggle fw-semibold link-primary text-bg-info border-primary" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside" type="button" style="min-width: 0px; margin-bottom: 12px;">Samples</button>
                                <div class="dropdown-menu border-dark" data-bs-popper="none" style="background: var(--bs-info);min-width: 132px;width: 33%;max-width: 175px;"><a class="dropdown-item link-dark" href="#" style="width: 100%;" id="edit-selected">Edit Selected</a><a class="dropdown-item link-dark delete-selected-link" href="#" style="width: 100%;">Delete selected</a>
                                    <a style="width: 100%;" class="dropdown-item link-dark" href="{% url 'new_sample' %}">Create New</a><a style="width: 100%;" class="dropdown-item link-dark" id="start-cupping-selected">Start Cupping Selected</a>
                                    <div class="dropend" style="width: 100%;"><button class="btn btn-secondary btn-sm dropdown-toggle link-primary text-bg-info" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside" type="button" style="padding-left: 15px;width: 100%;padding-right: 0px;text-align: left;background: rgb(76,113,221);border-color: rgb(76,113,221);">Share Sample(s)</button>
                                        <div class="dropdown-menu text-start text-bg-info border-dark" data-bs-popper="none" style="width: 100%;min-width: 142px;margin-left: 2px;overflow: auto;max-width: 175px;">
                                            <h6 class="dropdown-header text-start text-dark" style="text-decoration: underline;width: 100%;overflow: visible;">Share by group:</h6><a class="dropdown-item link-dark" style="width: 100%;" href="#">Group1</a><a class="dropdown-item link-dark" style="width: 100%;" href="#">Group2</a>
                                            <div class="dropdown-divider text-dark border-dark" style="background: var(--bs-primary);width: 100%;"></div>
                                            <h6 class="dropdown-header text-start text-dark" style="text-decoration: underline;width: 100%;">Search Users:</h6><input class="border rounded border-dark form-control-sm" type="search" placeholder="Search Username" name="sharesearch" style="width: 85%;margin-left: 15px;font-size: 11px;background: rgb(221,226,231);margin-bottom: 0px;color: rgb(58,59,69);margin-right: 0px;padding-right: 0px;padding-left: 0px;" data-bs-theme="dark" autocomplete="off">
                                            <div id="table_div" class="table-responsive border rounded d-none" style="margin-left: 15px;margin-right: 0px;height: 91px;width: 85%;margin-bottom: 0px;padding-right: 0px;padding-left: 0px;">
                                                <table class="table table-hover table-sm table-bordered" id="username_search">
                                                    <tbody id="username_table_body">
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="form-check text-bg-warning border rounded" style="margin-left: 15px;margin-right: 0px;padding-left: 0px;width: 85%;margin-bottom: 0px;padding-right: 0px;"><input id="allow_alter" class="form-check-input" type="checkbox" style="margin-top: 13.4px;margin-left: 1.6px;padding-right: 0px;margin-right: 2px;" name="allow_alter"><label class="form-check-label text-primary" for="allow_alter" style="padding-right: 0px;width: 88%;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;padding-left: 0px;">Allow User to alter sample.</label></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-bg-primary" data-bs-theme="dark">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label class="form-label">
                                            Show&nbsp;
                                            <select name="selected" class="d-inline-block form-select form-select-sm" id="maxrange">
                                                <option value="{{per_page}}">{{ per_page }}</option>
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            &nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label class="form-label">
                                            <input id="tablesearch" type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        
                                        <tr>
                                            <th style="width: 135px;max-width: 150px;"><input class="form-check-input custom-control-input"  type="checkbox" id="selectAllCheckbox">    Select</th>
                                            <th style="width: 171.45px;max-width: 170px;">ID</th>                                            
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>Score</th>
                                            <th>Notes</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in page_obj %}
                                        <tr>
                                                <td style="width: 85px;max-width: 100px;"><input class="form-check-input custom-control-input" type="checkbox" value="{{item.id}}"></td>
                                                <td>{{ item.id }}</td>
                                                <td><a href="{% url 'sample_view' item.id %}">{{ item.name }}</a></td>
                                                <td>{{ item.location }}</td>
                                                <td>{{ item.sensorial }}</td>
                                                <td>{{ item.sensorialdescriptors }}</td>
                                                <td>{{ item.regdate }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td style="width: 85.45px;max-width: 100px;"></td>
                                            <td style="width: 171.45px;max-width: 170px;"><strong>ID</strong></td>
                                            <td><strong>Name</strong></td>
                                            <td><strong>Location</strong></td>
                                            <td><strong>Score</strong></td>
                                            <td><strong>Notes</strong></td>
                                            <td><strong>Date</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row" style="width: 100%;">
                                <div class="col-md-6 align-self-center" style="width: auto;">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                                </div>
                                <div class="col-md-6" style="width: auto;">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers" style="width: auto;">
                                        <ul class="pagination" style="width: auto;">
                                            
                                            {%if page_obj.has_previous %}
                                            <li style="width: auto;" class="page-item"><a class="page-link" id="prev" aria-label="Previous" href="?page={{page_obj.previous_page_number}}"><span aria-hidden="true">«</span></a></li>
                                            {% endif %}
                                            {% for pages in page_obj.paginator.page_range %}
                                            <li style="width: auto;" class="page-item"><a class="page-link" id="pagenum" href="?page={{pages}}">{{pages}}</a></li>
                                            {% endfor %}   
                                            {%if page_obj.has_next %}                                            
                                            <li style="width: auto;" class="page-item"><a class="page-link" id="next" aria-label="Next" href="?page={{page_obj.next_page_number}}"><span aria-hidden="true">»</span></a></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}